"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-arc-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    tabLength: 4
  "exception-reporting":
    userId: "dd7f8d31-7432-4bed-a0a1-37677551de61"
  "linter-ui-default": {}
  minimap:
    plugins:
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
  "minimap-autohider": {}
  "python-autopep8":
    autopep8Path: "/usr/bin/autopep8"
    maxLineLength: 80
  welcome:
    showOnStartup: false
